name: CICD

on: [push]

# Run jobs
jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [22.x]

        steps:
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}
            - uses: actions/checkout@v6
            - name: npm install and test
              env:
                  CLIENT_ID: ${{ secrets.CLIENT_ID }}
                  DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
                  GUILD_ID: ${{ secrets.GUILD_ID }}
                  OLLAMA_HOST: ${{ secrets.OLAMMA_HOST }}
              run: |
                  npm ci
                  npm test